<!-- <h2>{{ title }}</h2> -->
<div class="flex justify-center p-4 h-screen">
    <div class="flex items-center">
        <div class="calculator w-full max-w-[370px] bg-[#40444c] rounded-3xl px-4 py-4">
            <input class="w-full nums-screen rounded-3xl min-h-[100px] max-h-[100px]" type="text" [value]="display">
            <div class="btns-container grid grid-cols-4 gap-5">
                <button class="rounded-full action-btn col-span-2" (click)="clear()">AC</button>
                <button class="rounded-full action-btn" (click)="appendInput('%')">%</button>
                <button class="rounded-full action-btn" (click)="appendInput('/')">/</button>
            </div>
            <div class="btns-container grid grid-cols-4 gap-5">
                <button class="rounded-full" (click)="appendInput('7')">7</button>
                <button class="rounded-full" (click)="appendInput('8')">8</button>
                <button class="rounded-full" (click)="appendInput('9')">9</button>
                <button class="rounded-full action-btn" (click)="appendInput('*')">*</button>
            </div>
            <div class="btns-container grid grid-cols-4 gap-5">
                <button class="rounded-full" (click)="appendInput('4')">4</button>
                <button class="rounded-full" (click)="appendInput('5')">5</button>
                <button class="rounded-full" (click)="appendInput('6')">6</button>
                <button class="rounded-full action-btn" (click)="appendInput('-')">-</button>
            </div>
            <div class="btns-container grid grid-cols-4 gap-5">
                <button class="rounded-full" (click)="appendInput('1')">1</button>
                <button class="rounded-full" (click)="appendInput('2')">2</button>
                <button class="rounded-full" (click)="appendInput('3')">3</button>
                <button class="rounded-full action-btn" (click)="appendInput('+')">+</button>
            </div>
            <div class="btns-container grid grid-cols-4 gap-5 mb-0">
                <button class="rounded-full col-span-2" (click)="appendInput('0')">0</button>
                <button class="rounded-full" (click)="appendInput('.')">.</button>
                <button class="rounded-full action-btn" (click)="calculate()">=</button>
            </div>
        </div>
    </div>
</div>