@import "tailwindcss";

/* html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.nums-screen {
    background-image: linear-gradient(to right top, #c6d5bd, #bfceb6, #b8c7b0, #b1c0a9, #aab9a3);
    border: solid 2px #40444c;
    box-shadow: 
    -4px -4px 6px #60646c, /* Sombra clara en la esquina superior izquierda */
     4px 4px 6px #20242c;
}

.btns-container {
    margin: 25px 0;
}

.btns-container button {
    min-height: 65px;
    max-height: 65px;
    border-radius: 50px;
    box-shadow: 
    -4px -4px 6px #60646c, /* Sombra clara en la esquina superior izquierda */
     4px 4px 6px #20242c;
     color: rgb(202, 202, 202);
     outline-style: none;
     font-weight: bold;
     background-color: #40444c;
}

.action-btn {
    color: #ffb600 !important;
}